{{- $page := .Page -}}
{{- $destination := .Destination -}}
{{- $isRemote := or (hasPrefix $destination "http://") (hasPrefix $destination "https://") -}}
{{- $isAbsolute := hasPrefix $destination "/" -}}
{{- $resource := "" -}}

{{- if not (or $isRemote $isAbsolute) -}}
  {{- $resource = $page.Resources.GetMatch $destination -}}
{{- end -}}

{{- if $resource -}}
  {{- $hash := substr (sha256 $resource.Content) 0 8 -}}
  {{- $dir := path.Dir $resource.Name -}}
  {{- $name := path.BaseName $resource.Name -}}
  {{- $ext := path.Ext $resource.Name -}}
  {{- $pagePath := strings.TrimPrefix "/" $page.RelPermalink -}}
  {{- $targetPath := path.Join $pagePath $dir (printf "%s.%s%s" $name $hash $ext) -}}
  {{- $published := resources.FromString $targetPath $resource.Content -}}
  <span class="skeleton-media">
    <img
      src="{{ $published.RelPermalink }}"
      alt="{{ .PlainText }}"
      width="{{ $resource.Width }}"
      height="{{ $resource.Height }}"
      loading="lazy"
      decoding="async"
      {{- with .Title }} title="{{ . }}"{{ end -}}
    >
  </span>
{{- else -}}
  <span class="skeleton-media">
    <img
      src="{{ $destination | safeURL }}"
      alt="{{ .PlainText }}"
      loading="lazy"
      decoding="async"
      {{- with .Title }} title="{{ . }}"{{ end -}}
    >
  </span>
{{- end -}}
