{{ if eq .Type "alert" }}
  {{ $title := .AlertTitle | default (or (i18n .AlertType) (title .AlertType)) }}
  {{ if .AlertSign }}
    <details class="callout" data-type="{{ .AlertType }}"{{ if eq .AlertSign "+" }} open{{ end }}>
      <summary>{{ $title }}</summary>
      <div class="typo">
        {{ .Text }}
      </div>
    </details>
  {{ else }}
    <aside class="callout typo" data-type="{{ .AlertType }}">
      <strong>{{ $title }}</strong>
      {{ .Text }}
    </aside>
  {{ end }}
{{ else }}
  <blockquote>
    {{ .Text }}
  </blockquote>
{{ end }}
