{{- $src := .Destination -}}
{{- $resource := "" -}}
{{- if not (findRE `^(https?:/)?/` $src 1) -}}
  {{- $resource = .Page.Resources.GetMatch $src -}}
{{- end -}}
{{- with $resource -}}
  {{- $name := printf "%s.%s%s" (path.BaseName .Name) (substr (sha256 .Content) 0 8) (path.Ext .Name) -}}
  {{- $target := path.Join (strings.TrimPrefix "/" $.Page.RelPermalink) (path.Dir .Name) $name -}}
  {{- $src = (resources.Copy $target .).RelPermalink -}}
{{- end -}}
<img src="{{ $src | safeURL }}" alt="{{ .PlainText }}"
  {{- with $resource }} width="{{ .Width }}" height="{{ .Height }}"{{ end }} loading="lazy" decoding="async"
  {{- with .Title }} title="{{ . }}"{{ end }}>
