<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
      {{ if .IsHome }}
        {{ site.Title }}
      {{ else }}
        {{ .Title }} · {{ site.Title }}
      {{ end }}
    </title>
    {{ $description := .Description }}
    {{ if .IsHome }}
      {{ $description = site.Params.description }}
    {{ end }}
    {{ if eq .Kind "404" }}
      {{ $description = site.Params.description404 }}
    {{ end }}
    {{ with $description }}
      <meta name="description" content="{{ . }}">
    {{ end }}
    <link rel="canonical" href="{{ .Permalink }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.Title }}" href="{{ with site.Home.OutputFormats.Get `RSS` }}{{ .RelPermalink }}{{ end }}">
    {{ with site.Params.favicon }}
      <link rel="icon" href="{{ . }}">
    {{ end }}
    {{ with resources.Get "css/styles.css" | minify }}
      {{ $hash := substr (sha256 .Content) 0 8 }}
      {{ $targetPath := printf "css/styles.%s.css" $hash }}
      {{ with resources.Copy $targetPath . }}
        <link rel="stylesheet" href="{{ .RelPermalink }}">
      {{ end }}
    {{ end }}
  </head>
  <body>
    <header>
      {{ $page := . }}
      {{ with site.Menus.main }}
        <nav>
          {{ range . }}
            {{ $isHomeEntry := eq .URL "/" }}
            {{ $isPostPage := eq $page.Section "posts" }}
            {{ $isHomeEntryPage := or $page.IsHome $isPostPage }}
            {{ $matchesMenu := or ($page.IsMenuCurrent "main" .) ($page.HasMenuCurrent "main" .) (eq $page.RelPermalink .URL) }}
            {{ $isActive := $matchesMenu }}
            {{ if $isHomeEntry }}
              {{ $isActive = $isHomeEntryPage }}
            {{ end }}
            <a{{ if $isActive }} class="is-active"{{ end }} href="{{ .URL }}">{{ .Name }}</a>
          {{ end }}
        </nav>
      {{ end }}
    </header>
    <main>
      {{ block "main" . }}{{ end }}
    </main>
    <footer>
      {{ with site.Home.OutputFormats.Get "RSS" }}
        <a href="{{ .RelPermalink }}" target="_blank" rel="noopener noreferrer">RSS</a><br>
      {{ end }}
      <span>© 2020–2026 Betterr</span>
      {{ with site.Params.records }}
        {{ with .icp }}
          <br><a href="https://beian.miit.gov.cn/" target="_blank" rel="nofollow noopener">{{ . }}</a>
        {{ end }}
        {{ with .police }}
          {{ $policeURL := printf "https://beian.mps.gov.cn/#/query/webSearch?code=%s" . }}
          <br><a href="{{ $policeURL }}" target="_blank" rel="nofollow noopener">{{ . }}</a>
        {{ end }}
      {{ end }}
    </footer>
  </body>
</html>
