{{ define "comments.item" }}
  {{ $comment := .comment }}
  {{ $comments := .comments }}
  <article id="comment-{{ $comment.id }}">
    <header>
      <time>{{ dateFormat "2006-01-02" $comment.date }}</time>
      <p>
        用户
        {{ with $comment.url }}
          <a href="{{ . }}" rel="nofollow noopener" target="_blank"><strong>{{ $comment.author }}</strong></a>
        {{ else }}
          <strong>{{ $comment.author }}</strong>
        {{ end }}
        {{ if and (ne $comment.parent 0) (eq $comment.reply_to $comment.author) }}
          追评：
        {{ else if $comment.reply_to }}
          回复 <a href="#comment-{{ $comment.parent }}"><strong>{{ $comment.reply_to }}</strong></a> 说：
        {{ else }}
          说：
        {{ end }}
      </p>
    </header>
    <div class="typo">
      {{ with $comment.html }}
        {{ . | safeHTML }}
      {{ else }}
        <p>{{ $comment.text }}</p>
      {{ end }}
    </div>
    {{ with sort (where $comments "parent" $comment.id) "date" }}
      <section>
        {{ range . }}
          {{ template "comments.item" (dict "comment" . "comments" $comments) }}
        {{ end }}
      </section>
    {{ end }}
  </article>
{{ end }}

{{ define "main" }}
  <article>
    <header>
      <p>{{ .Section | default "Page" | humanize }}</p>
      <h1>{{ .Title }}</h1>
      <div>
        <time>{{ .Date.Format "2006-01-02" }}</time>
        {{ with .ReadingTime }}
          <span>{{ . }} min read</span>
        {{ end }}
      </div>
    </header>

    <section class="typo">
      {{ .Content }}
    </section>
  </article>

  {{ $slug := .Params.slug | default .File.ContentBaseName }}
  {{ with $comments := index (site.Data.comments | default dict) $slug }}
    <section class="comments">
      <h2>历史评论</h2>
      {{ range sort (where . "parent" 0) "date" "desc" }}
        {{ template "comments.item" (dict "comment" . "comments" $comments) }}
      {{ end }}
    </section>
  {{ end }}
{{ end }}
