{{ define "comment" }}
  <article>
    <header>
      <time>{{ dateFormat "2006-01-02" .date }}</time>
      <p>
        用户
        {{ with .url }}
          <a href="{{ . }}" rel="nofollow noopener" target="_blank"><strong>{{ $.author }}</strong></a>
        {{ else }}
          <strong>{{ .author }}</strong>
        {{ end }}
        {{ with .parent }}
          {{ if eq .author $.author }}
            追评：
          {{ else }}
            回复 <strong>{{ .author }}</strong> 说：
          {{ end }}
        {{ else }}
          说：
        {{ end }}
      </p>
    </header>
    <div class="typo">
      {{ .text | .page.RenderString (dict "display" "block") }}
    </div>
    {{ with .replies }}
      <section>
        {{ range sort . "date" }}
          {{ template "comment" (merge . (dict "parent" $ "page" $.page)) }}
        {{ end }}
      </section>
    {{ end }}
  </article>
{{ end }}

{{ define "main" }}
  <article>
    <header>
      <p>{{ .Section | default "Page" | humanize }}</p>
      <h1>{{ .Title }}</h1>
      <div>
        <time>{{ .Date.Format "2006-01-02" }}</time>
        {{ with .ReadingTime }}
          <span>{{ . }} min read</span>
        {{ end }}
      </div>
    </header>

    <section class="typo">
      {{ .Content }}
    </section>
  </article>

  {{ $slug := .Params.slug | default .File.ContentBaseName }}
  {{ with index (site.Data.comments | default dict) $slug }}
    <section class="comments">
      <h2>历史评论</h2>
      {{ range sort . "date" "desc" }}
        {{ template "comment" (merge . (dict "page" $)) }}
      {{ end }}
    </section>
  {{ end }}
{{ end }}
