body > header,
body > main,
body > footer {
  width: min(42rem, calc(100% - clamp(1.9rem, 3vw, 2rem)));
  margin-inline: auto;
}

body {
  padding: 1rem 0 4rem;
}

body > main {
  position: relative;
  min-height: 8rem;
}
