{{ $comments := .comments | default slice }}
<div class="comment-list">
  {{ range sort $comments "date" "desc" }}
    <article class="comment-item">
      <header class="comment-meta">
        {{ if .url }}
          <a class="skeleton-text" href="{{ .url }}" rel="nofollow noopener" target="_blank">{{ .author }}</a>
        {{ else }}
          <span class="skeleton-text">{{ .author }}</span>
        {{ end }}
        <time class="skeleton-text" datetime="{{ .date }}">{{ dateFormat "2006-01-02" .date }}</time>
      </header>
      {{ with .reply_to }}
        <p class="comment-reply skeleton-text">Reply to {{ . }}</p>
      {{ end }}
      <div class="comment-body">
        {{ .text | markdownify }}
      </div>
    </article>
  {{ end }}
</div>
