{{ define "comments.item" }}
  {{ $comment := .comment }}
  {{ $comments := .comments }}
  {{ $children := sort (where $comments "parent" $comment.id) "date" "asc" }}
  {{ $isFollowUp := and (ne $comment.parent 0) (eq $comment.reply_to $comment.author) }}
  <article id="comment-{{ $comment.id }}">
    <header>
      <p>
        用户
        {{ if $comment.url }}
          <a href="{{ $comment.url }}" rel="nofollow noopener" target="_blank"><strong>{{ $comment.author }}</strong></a>
        {{ else }}
          <strong>{{ $comment.author }}</strong>
        {{ end }}
        {{ if $isFollowUp }}
          追评：
        {{ else }}
          {{ with $comment.reply_to }}
            回复 <a href="#comment-{{ $comment.parent }}"><strong>{{ . }}</strong></a> 说：
          {{ else }}
            说：
          {{ end }}
        {{ end }}
      </p>
      <time datetime="{{ dateFormat "2006-01-02" $comment.date }}">{{ dateFormat "2006-01-02" $comment.date }}</time>
    </header>
    <div>
      {{ with $comment.html }}
        {{ . | safeHTML }}
      {{ else }}
        <p>{{ $comment.text }}</p>
      {{ end }}
    </div>
    {{ if $children }}
      <section>
        {{ range $children }}
          {{ template "comments.item" (dict "comment" . "comments" $comments) }}
        {{ end }}
      </section>
    {{ end }}
  </article>
{{ end }}

{{ $slug := .Params.slug | default .File.ContentBaseName }}
{{ $commentsData := site.Data.comments | default dict }}
{{ $comments := index $commentsData $slug }}
{{ if $comments }}
  <section class="comments">
    <h2>历史评论</h2>
    {{ range sort (where $comments "parent" 0) "date" "desc" }}
      {{ template "comments.item" (dict "comment" . "comments" $comments) }}
    {{ end }}
  </section>
{{ end }}
