<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>
  {{ if .IsHome }}
    {{ site.Title }}
  {{ else }}
    {{ .Title }} · {{ site.Title }}
  {{ end }}
</title>
{{ with .Description }}
  <meta name="description" content="{{ . }}">
{{ end }}
<link rel="canonical" href="{{ .Permalink }}">
<link rel="alternate" type="application/rss+xml" title="{{ site.Title }}" href="{{ with site.Home.OutputFormats.Get `RSS` }}{{ .RelPermalink }}{{ end }}">
{{ with site.Params.favicon }}
  <link rel="icon" href="{{ . }}">
{{ end }}
{{ $styles := resources.Get "css/styles.css" }}
{{ $other := resources.Get "css/other.css" }}
{{ with slice $styles $other | resources.Concat "css/styles.bundle.css" | minify }}
  {{ $hash := substr (sha256 .Content) 0 8 }}
  {{ $targetPath := printf "css/styles.%s.css" $hash }}
  {{ with resources.Copy $targetPath . }}
    <link rel="stylesheet" href="{{ .RelPermalink }}">
  {{ end }}
{{ end }}
