<article class="post-line">
  <h2 class="post-line-title">
    <a
      href="{{ .RelPermalink }}"
      {{ partial "pjax-attrs.html" (dict
        "kind" "post"
        "title" .Title
        "pageTitle" (printf "%s · %s" .Title site.Title)
        "eyebrow" "POSTS"
        "date" (.Date.Format site.Params.dateFormat)
        "dateISO" (.Date.Format `2006-01-02`)
      ) }}
    >{{ .Title }}</a>
  </h2>
  <time class="post-line-date" datetime="{{ .Date.Format `2006-01-02` }}">
    {{ .Date.Format site.Params.dateFormat }}
  </time>
</article>
