<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ block "title" . }}{{ if not .IsHome }}{{ .Title }} · {{ end }}{{ end }}{{ site.Title }}</title>
    <meta name="description" content="{{ block "description" . }}{{ .Description | default site.Params.description }}{{ end }}">
    <link rel="canonical" href="{{ .Permalink }}">
    {{ $rss := site.Home.OutputFormats.Get "RSS" }}
    {{ with $rss }}
      <link rel="alternate" type="application/rss+xml" title="{{ site.Title }}" href="{{ .RelPermalink }}">
    {{ end }}
    {{ with resources.Get "favicon.webp" }}
      {{ $path := printf "favicon.%s.webp" (substr (sha256 .Content) 0 8) }}
      <link rel="icon" href="{{ (resources.Copy $path .).RelPermalink }}">
    {{ end }}
    {{ with resources.Get "css/styles.css" | css.Build (dict "minify" true) }}
      {{ $path := printf "css/styles.%s.css" (substr (sha256 .Content) 0 8) }}
      <link rel="stylesheet" href="{{ (resources.Copy $path .).RelPermalink }}">
    {{ end }}
  </head>
  <body>
    {{ $current := cond (eq .Section "posts") "/" .RelPermalink }}
    {{ with site.Menus.main }}
      <nav>
        {{ range . }}
          <a{{ if eq .URL $current }} class="is-active"{{ end }} href="{{ .URL }}">{{ .Name }}</a>
        {{ end }}
      </nav>
    {{ end }}
    <main>
      {{ block "main" . }}{{ end }}
    </main>
    <footer>
      {{ with $rss }}
        <a href="{{ .RelPermalink }}" target="_blank">RSS</a><br>
      {{ end }}
      © 2020–{{ now.Year }} Betterr
      {{ with site.Params.records }}
        {{ with .icp }}
          <br><a href="https://beian.miit.gov.cn/" target="_blank" rel="nofollow">{{ . }}</a>
        {{ end }}
      {{ end }}
    </footer>
  </body>
</html>
