{{- $src := .Destination -}}
{{- $resource := .Page.Resources.Get $src -}}
{{- with $resource -}}
  {{- $name := printf "%s.%s%s" (path.BaseName .Name) (substr (sha256 .Content) 0 8) (path.Ext .Name) -}}
  {{- $target := path.Join $.Page.RelPermalink (path.Dir .Name) $name -}}
  {{- $src = (resources.Copy $target .).RelPermalink -}}
{{- end -}}
<img src="{{ $src | safeURL }}" alt="{{ .PlainText }}"
  {{- with $resource }} width="{{ .Width }}" height="{{ .Height }}"{{ end }} loading="lazy"
  {{- with .Title }} title="{{ . }}"{{ end }}>
